/* tag selector */
circle {
  fill:#5f5f5f;
}

/* more attributes */
path {
  stroke: #5f5f5f;
  stroke-width: 8px;
}

/* class selector */
.small {
  fill: white;
}

/* descendant selector */
.contained .small {
  fill:#573d29
}

/* descendant selector */
/* group selector */
.contained circle, .contained rect {
  stroke: none;
  fill: #c0c0c0;
  opacity: 1;
}

/* id selector */
#interactive {
  stroke: #bd250d;
  fill: #c0c0c0;
  stroke-width: 4px;
}

/* pseudoclass */
#interactive:hover {
  fill: #bd250d;
}

/* some specificity stuff */
rect {
  opacity: 0;
}

/* pseudo-class */
/* child selector */
svg > path:last-child {
  stroke-width:0;
}
